@font-face {
    font-family: "hanken";
    src:
        url("./fonts/hanken-book-webfont.woff2") format("woff2"),
        url("./fonts/hanken-book-webfont.woff") format("woff");
}

:root {
    font-family: "hanken";
    letter-spacing: 0.1em;
    --dark-brn: rgb(82, 52, 7);
    --pale-yellow: #ebeb6d;
    --pale-green: rgb(177, 230, 133);
    --black: black;
    --dark-green: rgb(50, 133, 50);
    --pinkish: rgb(231, 210, 213);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: calc(1em + 0.5rem);
    height: 100vh;
    background-color: var(--dark-brn);
}

input, button {
    font: inherit;
}

.greeting {
    margin-top: 1em;
    color: var(--pale-yellow);
    font-size: 2.5em;
    text-shadow: -2px -2px 1px var(--dark-green);
    text-decoration: underline;
}

.header-container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 3.5em;
    margin-top: 4em;
}

.display-lib-btn,
.new-book-btn {
    width: 10em;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.9em;
    border-radius: 1em;
    background-color: var(--pale-yellow);
    color: var(--dark-brn);
    border: 4px solid var(--dark-green);
}

.display-lib-btn:hover,
.new-book-btn:hover {
    background-color: var(--pale-green);
    cursor: pointer;
    color: var(--black);
}

.display-container.show {
    background-color: var(--dark-green);
    box-shadow: inset 0 0 15px var(--pale-yellow);
    border-radius: 0.5em;
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.card {
    color: var(--dark-brn);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pinkish);
    box-shadow: 0 0 20px 3px var(--dark-brn);
    border-radius: 0.5em;
    padding: 1em;
    width: 40%;
    height: 14em;
}

.card:hover {
    opacity: 0.9;
}

.title {
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
    line-height: 1.25;
}

.author,
.qty-pages {
    text-align: center;
    font-size: 1.2em;
}

.change-read-status-btn {
    padding: 0.5em;
    background-color: var(--dark-brn);
    color: var(--pale-yellow);
    font-weight: bold;
    border: solid 3px var(--dark-green);
    border-radius: 1em;
    width: 8em;
}

.change-read-status-btn:hover {
    cursor: pointer;
    background-color: var(--dark-green);
    border: solid 3px var(--dark-brn);
}

.dialog {
    margin: auto;
    width: min(28em, 90vw);
    height: min(28em, 90vw);
    padding: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--pinkish);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

form {
    text-wrap: pretty;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

input {
    border: none;
    width: 20em;
}

input:focus {
    outline: none;
    border: solid 2px var(--dark-green);
}

label[for="have-read"] {
    font-weight: bold;
    margin: 0;
    line-height: 1;
}

#have-read {
    margin: 0;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid var(--dark-green);
    border-radius: 0.25em;
    background-color: white;
    cursor: pointer;
    position: relative
}

#have-read:checked {
    background-color: var(--dark-green);
}

#have-read:checked::after {
    content: '✓';
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#have-read:hover {
    border-color: var(--pale-green);
}

.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}